html,
body {
  padding: 0;
  margin: 0;
  width: 100%; 
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  background:   url("../public/assets/keyboard.svg")  repeat left center fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root{
  --bg-clr-secondary: rgb(123, 123, 198);
  --bg-clr-primary: #0B1846;
  --text-clr-primary: #4896C1;
  --text-font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --text-font-secondary: Verdana, Geneva, Tahoma, sans-serif
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
